.wrapper
    #slogan
        .inner

            .slogan-carousel

                .slogan-carousel-item
                    h1.slogan-title= content.slogan.first.title
                    p.slogan-subtitle= content.slogan.first.subtitle

                .slogan-carousel-item
                    h2.slogan-title= content.slogan.second.title
                    p.slogan-subtitle= content.slogan.second.subtitle

                .slogan-carousel-item
                    h2.slogan-title= content.slogan.third.title
                    p.slogan-subtitle= content.slogan.third.subtitle