mixin icon(name,mod)
	- mod = mod || ''
	svg(class="icon icon-" + name + ' ' + mod)
		use(xlink:href="/static/img/svg/symbol/sprite.svg#" + name)


mixin logotype(logoSrc, logoAlt, link, title)
	a(href= link).logo= title
		img(src= logoSrc, alt= logoAlt).logo-img


mixin aboutItem(title, text)
	.about-item(class!=attributes.class)
		h4.about-item-title= title
		p.about-item-text= text


mixin productItem(name, price, image)
	a.product-item(href="#")
		img(src= image, alt= name).product-image
		h4.product-name= name
		p.product-price= price


mixin newsItemTab(title, subtitle, date, month, imgSrc, imgAlt)
	.news-tab-img-wrap
		img(src= imgSrc, alt= imgAlt).news-tab-img
		.news-tab-date-group
			p.news-tab-date= date
			p.news-tab-month= month

	h5.news-tab-title= title
	p.news-tab-subtitle= subtitle


mixin newsItemTabCurrent(title, text, enter, time, date, month, imgSrc, imgAlt)
	.news-item-tab-current
		.news-tab-img-current-wrap
			img(src= imgSrc, alt= imgAlt).news-tab-img-current
			p.news-tab-date-current-group= date + ' ' + month

		.news-tab-text-wrap-current
			p.news-tab-data-current= date + ' ' + month + ' ' + '2017'
			h4.news-tab-title-current= title
			p.news-tab-text-current= text

			div
				p.news-tab-enter-current= enter
				p.news-tab-time-current= time


mixin partnerItem(link, imgSrc, imgAlt)
	.partners-item
		a(href= link)
			img(src= imgSrc, alt= imgAlt).partners-img

